#landing-page {
  background-image: url("../assets/iphone1.jpg");
  position: relative;
  margin: 0px;
  width: 100%;
  max-width: 100%;
  height: 100vh;
  max-height: 1080px;
}

#landing-text {
  text-align: center;
  padding: 28% 30%;
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px rgba(82, 77, 94, 20);
  width: 60%;
  height: fit-content;
}

#title {
  margin: 0px;
}

#title-tag {

}

#description {

}